@import url("//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css");
@import url("https://unpkg.com/highlight.js@11.5.1/styles/base16/nord.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400,500");

:root {
  --font: "Inter", sans-serif;
  --blue: #1871e9;
}

body {
  font-family: var(--font);
  font-weight: 400;
}
a {
  text-decoration: underline;
  -webkit-text-decoration: underline rgba(0, 0, 0, 0.3);
  text-decoration: underline rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  color: inherit;
}
a:hover {
  color: var(--blue);
}
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.align-end {
  align-items: flex-end;
}

.justify-between {
  justify-content: space-between;
}

p {
  font-size: 14px;
  line-height: 25.2px;
}

.w-100 {
  width: 100%;
}

.container-boundaries {
  max-width: 900px;
  padding: 16px;
  margin: 0 auto;
}
